<!doctype html>
<html>
  <head>
    <title>
      
    </title>
  </head>
  <body>
    <h1>Local Bowling Alley</h1>
    <h2>Shittown Bowling</h2>
    <p>444 Rawley Street, Shittown, PA</p>
  </body>
</html>